#design {

    padding: 100px;
}

@media only screen and (max-width:668px) {
    #design {

        padding: 0px;
    }

    #imageBanner {
        padding-left: 40px;
    }

    #bannerId {

        padding-left: 40px;
    }
}